<div class="app-header">
    <div class="grid">
        <div></div>
        <span class="spacer">

        </span>
        <div class="col-12 md:col-12 lg:col-12 text-right">
            <button pButton type="button" mat-button routerLink="/application" class="p-button p-button-secondary p-button-text p-button-sm">
                App
            </button>
            <button pButton type="button" at-button routerLink="/landing" class="p-button p-button-secondary p-button-text p-button-sm">
                Login
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>